.context-1{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 80px;

}
.btncls{
 text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
  color: black;
  font-weight: 500;
}

.headCont{
  text-align: center;
  color: brown;
}